@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=B612+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

:root {
    --font: "Poppins", sans-serif;
    --cardMaxWidth: 500px;
    --cardMinWidth: 300px;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-size: var(--font);
}

.loginPage {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: minmax(300px, 500px);
    justify-content: center;
    align-items: center;
}

.loginCard {
    min-width: var(--cardMinWidth);
    max-width: var(--cardMaxWidth);
    max-height: auto;
}

.loginCard table,
.loginCard tr,
.loginCard td {
    padding: 10px 0;
}

.ayushGithub {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
}

.signUPImage {
    display: grid;
    grid-template-columns: 1fr;
}

.signUPImage .imageSection {
    place-self: center;
    height: 300px;
    width: 300px;
    border-radius: 100%;
    overflow: hidden;
}

.signUPImage .imageSection img {
    height: 300px;
    width: 300px;
    object-fit: cover;
}


.profile .nav {
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;

    display: flex;
    justify-content: end;
}

.profile .nav input {
    height: 30px;
    border-radius: 50px;
    padding: 0 5px;
    outline: none;
    border: none;
}

.profile .nav .input-container {
    padding: 10px 30px;
    border-radius: 50px;
}

.profile .nav .img-container {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
}

.profile .nav .img-container img {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.add-todo {
    width: 4rem;
    height: 4rem;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    font-size: 3rem;
    font-weight: 400;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
    border-radius: 100%;
    cursor: pointer;
}

.profileHandler {
    margin-top: 10rem;
    /* gap: 3rem; */
}


.sideAddTodoLeft {}

.sideAddTodoRight {
    max-width: 30rem;
    min-width: 15rem;
}

.color-circle {
    width: 10px;
    height: 10px;
    border-radius: 100%;
    background-color: red;
}

.todo {
    min-width: 300px;
    max-width: 300px;
    max-height: 350px;
}

.todo .todo-body {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 25px auto;
}

.todo .todo-body .menu-logo {
    place-self: end;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.todo .todo-body .menu-logo:hover {
    background-color: rgba(255  , 255, 255, 0.5);
    border-radius: 10px;
}


.todo .todo-body h3 {
    width: 100%;
    height: fit-content;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    font-weight: 600;
    font-size: 2rem;
    justify-self: flex-start;
    text-transform: capitalize;
}

.todo .todo-body table {
    justify-self: flex-start;
}

.todo .todo-body table input {
    margin: 10px 0;
}

@media (max-width: 576px) {}

@media (max-width: 768px) {
    .loginPage {
        align-items: normal;
    }
}

@media (min-width: 768px) {
    .add-todo {
        display: none;
    }
}

@media (min-width: 992px) {}


@media (min-width: 1200px) {}


@media (min-width: 1400px) {}